/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&family=Source+Sans+Pro:wght@300;400;700&display=swap');

/* Variables */
:root{
--primary-font: 'Playfair Display';
--secondary-font: 'Source Sans Pro';
--background-color: rgba(51,51,51, 0.6);
}

/* INDEX */ 

/* 1. App */

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--background-color);
}


/*-------------------------------------------------------*/
/* N. Contact */

.formContainer {
  display: flex;
  width: auto;
  justify-content: center;
  font-family: var(--secondary-font);
  text-align: center;
}

.formContainer > form {
  width: 300px;
}

.formContainer > label {
  height: 30px;
}



#contact {
  font-size: 24px;
}

.formInfos {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.formInfos > label{
  font-family:var(--secondary-font);
  font-size: 18px;
  margin: 4px 0px;
}

.formInfos > input {
  height: 20px;
}

#formBtn {
  margin-top: 10px;
  height: 30px;
  width: auto;
  font-family: var(--secondary-font);
  font-size: 18px;
  transition: all 0s;
}

#formBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(51, 51, 51, 0.7);
  color: rgba(255,255,255);
  border: none;
}




/*-------------------------------------------------------*/
/* N. Logo */

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.logoContainer > h1 {
  font-family: var(--primary-font);
  font-size: 48px;
  
}

#logo{
  height: 50px;
  width: auto;
  margin: 0px 4px;
}